<link rel="stylesheet" href="/Templates/sidebar/sidebar.css" />
<script src="/Templates/sidebar/sidebar.js" defer></script>

<div class="side-bar-wrap">
    <div class="sidebar-header-wrap">
        <div class="sidebar-header-container">
            <div class="sidebar-header-icon-wrap">
                <img src="/assets/images/svg/checkmarkThree.svg" />
            </div>
            <h1 class="sidebar-heading">TaskMaster</h1>
        </div>
        <img onclick="toggleDashboardSidebar()" src="/assets/images/svg/angleLeft.svg" />
    </div>

    <div class="user-details-wrap">
        <div class="user-name-icon-wrap">
            <h1 id="user-name-icon" class="user-name-icon"></h1>

        </div>
        <div class="user-details">
            <p id="sidebar-user-name" class="sidebar-user-name"> username</p>
            <p id="sidebar-user-email" class="sidebar-user-email">email</p>
        </div>
    </div>
    <div class="sidebar-navigation">
        <a href="./dashboard.html" class="sidebar-nav-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                stroke="#364153" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-layout-dashboard h-5 w-5 flex-shrink-0" aria-hidden="true">
                <rect width="7" height="9" x="3" y="3" rx="1" />
                <rect width="7" height="5" x="14" y="3" rx="1" />
                <rect width="7" height="9" x="14" y="12" rx="1" />
                <rect width="7" height="5" x="3" y="16" rx="1" />
            </svg>
            <span>Dashboard</span></a>
        <a href="./task.html" class="sidebar-nav-button">
            <img src="/assets/images/svg/checkmarkTwo.svg" />
            <span>Tasks</span></a>
        <a href="./community.html" class="sidebar-nav-button">
            <img src="/assets/images/svg/userIconDoubleOne.svg" />
            <span>Community</span></a>
        <a class="sidebar-nav-button">
            <img src="/assets/images/svg/dollarTwo.svg" />
            <span>Expenses</span></a>
        <a class="sidebar-nav-button">
            <img src="/assets/images/svg/noteIconTwo.svg" />
            <span>Notes</span></a>
        <a class="sidebar-nav-button">
            <img src="/assets/images/svg/setting.svg" />
            <span> Settings</span></a>

    </div>
    <div class="sidebar-footer">
        <a href="./index.html" class="sidebar-footer-button">
            <img src="/assets/images/svg/arrowRight.svg" />
            <span>Logout</span></a>
    </div>

</div>