<link rel="stylesheet" href="/Templates/sidebar/sidebar.css" />
<script src="/Templates/sidebar/sidebar.js"></script>

<div class="side-bar-wrap">
    <div class="sidebar-header-wrap">
        <div class="sidebar-header-icon-wrap">
            <img src="/assets/images/svg/checkmarkThree.svg" />
        </div>
        <h1>TaskMaster</h1>
        <img src="/assets/images/svg/angleLeft.svg" />
    </div>

    <div class="user-details-wrap">
        <div class="user-name-icon">

        </div>
        <div class="user-details">
            <p> Stephanie Amaka</p>
            <p>useremail@gmail.com</p>
        </div>
    </div>
    <div class="sidebar-navigation">
        <button class="sidebar-nav-button">
            <img src="/assets/images/svg/squareRectangleOne.svg" />
            Dashboard</button>
        <button class="sidebar-nav-button">
            <img src="/assets/images/svg/checkmarkTwo.svg" />
            Tasks</button>
        <button class="sidebar-nav-button">
            <img src="/assets/images/svg/userIconDoubleOne.svg" />
            Community</button>
        <button class="sidebar-nav-button">
            <img src="/assets/images/svg/dollarTwo.svg" />
            Expenses</button>
        <button class="sidebar-nav-button">
            <img src="/assets/images/svg/noteIconTwo.svg" />
            Notes</button>
        <button class="sidebar-nav-button">
            <img src="/assets/images/svg/setting.svg" />
            Settings</button>

    </div>
    <div class="sidebar-footer">
        <img src="/assets/images/svg/arrowRight.svg" />
        <button class="sidebar-footer-button">Logout</button>

    </div>

</div>