.form-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: linear-gradient(#ffffffd2, #ffffffd2), url("/assets/images/svg/lines.svg");

}

.login-circle {
    background: var(--animated-circle-blue);
    height: 9.6rem;
    width: 9.6rem;
    border-radius: 50%;
    position: absolute;
    right: 85%;
    bottom: 10%;
    filter: blur(4rem);
    animation: blink 5s linear infinite;

}

.purple-circle {
    position: absolute;
    background: var(--animated-circle-purple);
    bottom: 40%;
    right: 90%;
    height: 8rem;
    width: 8rem;
}

.yellow-circle {
    position: absolute;
    background: var(--animated-circle-yellow);
    top: 10%;
    left: 90%;
    height: 6.4rem;
    width: 6.4rem;
}

.arrow {
    position: absolute;
    top: 10%;
    left: 70%;
    animation: bounce 1s infinite;
}

.triangle {
    position: absolute;
    top: 60%;
    left: 70%;
}

.no-fill-purple-circle {
    width: 5rem;
    height: 5rem;
    border: 4px solid var(--no-fill-circle-purple);
    border-radius: 50%;
    position: absolute;
    bottom: 70%;
    right: 90%;
}


.no-fill-yellow-circle {
    width: 6.5rem;
    height: 6.5rem;
    border: 4px solid var(--no-fill-circle-yellow);
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left: 85%;
    opacity: 0.4;
}