<template id="preview-card">
    <style>
        .preview-cards {
            height: 17.5rem;
            text-align: left;
            border-radius: 1.2rem;
            border: 1px solid var(--white-color);
            background: var(--white-color);
            outline-color: var(--preview-outline);
            transition: box shadow 0.15s cubic-bezier(.4, 0, .2, 1);
            box-sizing: border-box;

        }

        .preview-cards:hover {
            box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
        }

        .preview-card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2.4rem;
            box-sizing: border-box;

        }

        .preview-card-counter {
            display: flex;
            flex-direction: column;
            padding: 2.4rem;
            box-sizing: border-box;
        }
    </style>

    <div class="preview-cards">
        <div class="preview-card-header">
            <slot name="card-text"></slot>
            <slot name="card-icon"></slot>
        </div>
        <div class="preview-card-counter">
            <slot name="card-counter"></slot>
            <slot name="card-counter-text"></slot>
        </div>
        <div>
</template>


<template id="dashboard-actions">
    <style>
        .dashboard-action-container {
            height: 34.3rem;
            width: 100%;
            border-radius: 1.2rem;
            border: 0.7px solid var(--white-color);
            background: var(--white-color);
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            font-size: 1.6rem;
            font-weight: 400;
            box-sizing: border-box;

        }

        .dashboard-action-heading-wrap {
            display: flex;
            align-items: center;
            gap: 0.8rem;
            padding: 2.4rem 2.4rem 0 2.4rem;
            box-sizing: border-box;

        }

        .dashboard-actions-button-wrap {
            padding: 2.4rem;
        }
    </style>
    <div class="dashboard-action-container">
        <div class="dashboard-action-heading-wrap">
            <slot name="dashboard-action-icon"></slot>
            <slot name="dashboard-action-heading"></slot>
        </div>
        <div class="dashboard-actions-button-wrap">
            <slot name="dashboard-actions-button"></slot>
        </div>
        <slot name="dashboard-action-text"></slot>
    </div>
</template>


<template id="data-cards">
    <style>
        .data-card {
            width: 100%;
            min-height: 48rem;
            background: var(--white-color);
            box-shadow: var(--card-box-shadow);
            box-sizing: border-box;
        }

        .data-card_header-wrap {
            width: 100%;
            height: 9.7rem;
            background: #fbf9fa;
            padding: 2.4rem;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            gap: 1.2rem;

        }
    </style>

    <div class="data-card">
        <div class="data-card_header-wrap">
            <slot name="data-card_icon"></slot>
            <slot name="data-card_header"></slot>
            <slot name="data-card_items"></slot>
        </div>
</template>