.dashboard-container {
    display: flex;
    background: var(--body-background);
    height: 100vh;

}

.dashboard-left {
    width: 18%;
    height: 100%;
    transition: width 0.4s;

}

.dashboard-right {
    width: 82%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.3rem;
    padding: 3.2rem;
    transition: width 0.4s;
    overflow-y: scroll;
}


.dashboard-heading h2 {
    font-size: 3rem;
    font-weight: 700;
}

.dashboard-heading p {
    font-size: 1.6rem;
    color: #6a7282;
}


.counter-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
}



.quick-actions-container {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.card2 {
    width: 50%;
}

.preview-card_icon {

    width: 3.2rem;
    height: 3.2rem;
    border-radius: 0.8rem;
    border: 1px solid var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;

}

.card-counter {
    font-weight: 700;
    font-size: 2.4rem;
}

.counter-card-heading {
    color: #4a5565;
    font-size: 1.4rem;
    font-weight: 500;
}

.counter-card-summary {
    color: #6a7282;
    font-size: 1.2rem;
}

.card-icon_checkmarkblue {
    background: var(--checkmark-blue);

}

.card-icon_dollardarkgreen {
    background: var(--dollar-sign-green);
}

.card-icon_noteslemon {

    background: var(--notes-icon-green);
}

.card-icon_bentarrowblue {
    background: var(--bent-arrow-blue);
}

.quick-action-button-icon-wrap {
    width: 4rem;
    height: 4rem;
    border-radius: 0.8rem;
    border: 1px solid var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;

}

.quick-action-button-heading {
    font-size: 1.4rem;
    font-weight: 500;
    color: #1e293b;
}

.quick-action-button-description {
    font-size: 1.2rem;
    color: #6a7282;
    font-weight: 500;

}

.icon-checkmark-blue {
    background: var(--checkmark-background-lightblue);
}

.icon-dollar-green {
    background: var(--dollar-sign-light-green);
}

.icon-note-green {
    background: var(--notes-icon-light-green);
}

.recent-tasks-checkmark-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding: 2.5rem;
}

.recent-tasks-checkmark-wrap p {
    color: #707887;
    font-size: 1.4rem;
}

.dashboard-tasks-display-active{
    display: flex;
    background: var(--white-color);
    border: 1px solid #e2e8f0;
    width: 100%;
    border-radius: 12px;
    box-sizing: border-box;
    gap: 1.2rem;
    align-items: start;
    padding:16px 24px;
    margin-bottom: 10px;
}


.dashboard-tasks-display-active_description-wrap{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 15px;
}

.dashboard-tasks-display-active_title{
    font-size: 1.4rem;
    color: #1e293b;

}


.dashboard-tasks-display-active_date{
    color:#6a7282;
    font-size: 1.2rem;
}

.dashboard-tasks-display-active_priority-wrap{
    margin-left: auto;
    padding-bottom: auto;
    display:flex;
    gap: 1rem;
}

.dashboard-tasks-display-active_priority-stats{
    color:#d08700;
    background: #fefce8;
    padding: 2px 8px;
    border-radius: 6px;
    box-sizing: border-box;
    font-weight: 500;
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid #fff085;

}

.dashboard-tasks-display-active-container{
    display: flex;
    flex-direction: column;
}