:root {
    font-size: 10px;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --white-color: #fff;
    --checkmark-blue: #404af9;
    --heading-black: #101828;
    --input-gray: #9aa4b3;
    --button-yellow: #fcc500;
    --button-gray: #f8f9fa;
    --signup-gray: #f3f4f6;
    --text-black: #3a3621;
    --login-footer-gray: #868c99;
    --tiny-circle-yellow: #fdc700;
    --no-fill-circle-purple: #deeafa;
    --no-fill-circle-yellow: #fff085;
    --animated-circle-yellow: #f0b100;
    --animated-circle-blue: #2b7fff;
    --animated-circle-purple: #7c86ff;
    --footer-terms-gray: #6a7282;
    --dollar-sign-green:#0092b8;
    --dollar-sign-light-green:#cefafe;
    --notes-icon-green:#00a63e;
    --notes-icon-light-green:#dbfce7;
    --bent-arrow-blue:#4f39f6;
    --checkmark-background-lightblue:#dbeafe;
    --checkmark-icon-dark-blue:#1b61fc;
    --checkmark-gray:#d1d5dc;
    --clock-icon-blue:#1e63fc;
    --logout-text-red:#e7000b;
    --sidebar-text-active-purple:#4f39f6;
    --sidebar-text-gray:#364153;
    --body-background:#f9fafb;
    --countercard-text-gray:#4a5565;
    --dashboard-black:#1e293b;
    --preview-outline:#3b82f6;
    --sidebar-black:#101828;
    --card-box-shadow:0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

@keyframes blink {
    0%,
    100% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }

}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

