.taskbar-container {
    display: flex;
    background: var(--body-background);
    height: 100vh;

}

.taskbar-left {
    width: 18%;
    height: 100%;
    transition: width 0.4s;

}

.taskbar-right {
    width: 82%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.3rem;
    padding: 3.2rem;
    transition: width 0.4s;
    overflow-y: scroll;
}

.taskbar-data-card_icon {
    background: var(--checkmark-blue);
    width: 4rem;
    height: 4rem;
    border-radius: 0.8rem;
    border: 1px solid var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskbar-data-card_heading {
    font-size: 1.8rem;
    color: #1e293b;
    font-weight: 600;
    font-family: var(--font-family);

}

.taskbar-data-card_description {
    font-size: 1.4rem;
    color: #6a7282;
    font-family: var(--font-family);

}

.data-card_items {
    padding: 2.4rem;
    box-sizing: border-box;
}


.task-data-card_button-wrap {
    display: flex;
    background: var(--button-gray);
    width: 24.6rem;
    height: 4rem;
    align-items: center;
    text-align: center;
    border-radius: 0.8rem;
    padding: 0.4rem;
    margin-bottom: 2.4rem;
    box-sizing: border-box;
    gap: 1.2rem;

}

.taskbar-data-card_button {
    width: 10.6rem;
    height: 3.1rem;
    color: var(--text-black);
    font-size: 1.4rem;
    padding: 0.6rem 1.2rem;
    font-weight: 500;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    box-sizing: border-box;
    white-space: nowrap;
    font-family:var(--font-family);;
}

.taskbar-add-task-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 2.4rem;
}

.taskbar-counter-wrap {
    display: flex;
    gap: 2.4rem;
    align-items: center;
}

.taskbar-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskbar-add-task_button {
    background: #155dfc;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    border: none;
    color: var(--white-color);
    font-size: 1.4rem;
    justify-content: center;
    height: 3.6rem;
    width: 10.5rem;
    box-sizing: border-box;
    font-weight: 500;
    gap: 0.8rem;
    font-family: var(--font-family);
}


.task-counter {
    font-size: 3rem;
    font-weight: 600;
    font-family: var(--font-family);
}

.task-counter--completed {
    color: #00a63e;
    font-family: var(--font-family);
}

.taskbar-counter_description {
    font-size: 1.4rem;
    color: #6a7282;
    font-family: var(--font-family);
}

.tasks-display-default {
    width: 100%;
    min-height: 16.4rem;
    border: none;
    padding: 3.2rem 3.2rem 2.4rem 3.2rem;
    text-align: center;
    outline: 1px dashed #3b82f6;
    border: 1px dashed #c6d2ff;
    box-sizing: border-box;
    border-radius: 0.8rem;
    background-image: linear-gradient(to bottom right, #fcf9fa, #eef2ff);
    font-family: var(--font-family);

}

.tasks-display-description1 {
    color: #64748b;
    font-size: 1.6rem;
    font-family: var(--font-family);
}

.tasks-display-description2 {
    color: #64748b;
    font-size: 1.4rem;
    font-family: var(--font-family);
}

.create-task-form {
    width: 51.2rem;
    height: 41.5rem;
    padding: 24px;
    background: #f8f9fa;
    border-radius: 1.2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 0.7px solid #e2e8f0;
    position: absolute;
    top: 18%;
    left: 31%;
    display: none;

}

.create-task-form_header {
    font-size: 2rem;
    color: #1e293b;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--font-family);

}

.create-task-form_description {
    font-size: 1.4rem;
    color: #64748b;
    margin-bottom:15px;
    font-family: var(--font-family);
}

.create-task-form_text-input-label {
    font-size: 1.4rem;
    color: #1e293b;
    font-weight: 500;
    margin-bottom: 8px;
    font-family: var(--font-family);
   
}

.create-task-form_input {
    height: 4rem;
    width: 100%;
    font-weight: 400;
    background: var(--white-color);
    border-radius: 6px;
    border: none;
    box-sizing: border-box;
    padding: 4px 12px;
    outline: none;
    margin-bottom: 10px;
    font-family: var(--font-family);
}

.create-task-form_textarea {
    background: var(--white-color);
    resize: none;
    min-height: 6.4rem;
    padding: 8px 12px;
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-radius: 6px;
    outline: none;
    margin-bottom: 10px;
    font-family: var(--font-family);
}

.create-task-form_options-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    font-family: var(--font-family);
}

.create-task-form_priority-label {
    font-size: 1.4rem;
    color: #1e293b;
    font-weight: 500;
    margin-bottom: 8px;
    font-family: var(--font-family);
}

.create-task-form_priority-input {
    background: var(--white-color);
    display: flex;
    align-items: center;
    border: none;
    border-radius: 6px;
    color: #1e293b;
    font-size: 1.4rem;
    width: 22.3rem;
    height: 4rem;
    padding: 4px 12px;
    box-sizing: border-box;
    font-family: var(--font-family);

}


.create-task-form_priority-wrap {
    display: flex;
    flex-direction: column;
}

.create-task-form_button-wrap {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.create-task-form_cancel-button {
    background: var(--white-color);
    border-radius: 6px;
    color: #1e293b;
    height: 3.6rem;
    width: 7.5rem;
    border: none;
    box-sizing: border-box;
    padding: 8px 16px;
    font-family: var(--font-family);
}

.create-task-form_create-task-button {
    background: #3b82f6;
    border-radius: 6px;
    color: var(--white-color);
    height: 3.6rem;
    width: 10.3rem;
    border: none;
    box-sizing: border-box;
    padding: 8px 16px;
    font-family: var(--font-family);
}

.create-task-form-ai-button {
    background: #f8f9fa;
    width: 4.1rem;
    height: 3.6rem;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    font-family: var(--font-family);

}

.create-task-form-input-button-wrap {
    display: flex;
    gap: 8px
}

.create-task-form_input--focus:focus {
    border: 0.1rem solid #6366f1;
    outline: 0.3rem solid #3b83f697;
}

.create-task-form-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    backdrop-filter: blur(0.2px);
     
}

.blur-form-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display:none;
    background: #00000077; 
}

.create-task-form-close-x-container{
    display: flex;
    justify-content: flex-end;

}

.tasks-display-active-container {
    margin-top:20px;
}


.tasks-display-active{
    display: flex;
    background: var(--white-color);
    border: 1px solid #e2e8f0;
    width: 100%;
    border-radius: 12px;
    box-sizing: border-box;
    gap: 1.2rem;
    align-items: start;
    padding:16px 24px;
    margin-bottom: 10px;
}

.tasks-display-active:hover{
     box-shadow: var(--card-box-shadow);
}

.tasks-display-active_description-wrap{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 15px;
    font-family: var(--font-family);
}

.tasks-display-active_title{
    font-size: 1.6rem;
    color: #1e293b;
    font-family: var(--font-family);

}

.tasks-display-active_description{
    font-size: 1.4rem;
    color: #4a5565;
    font-family: var(--font-family);
}

.tasks-display-active_date{
    color:#6a7282;
    font-size: 1.2rem;
    font-family: var(--font-family);
}

.tasks-display-active_icon-wrap{
    margin-left: auto;
    padding-bottom: auto;
    display:flex;
    gap: 1rem;
}

.tasks-display-active_priority-stats{
    color: var(--white-color);
    background: #00c951;
    padding: 2px 8px;
    border-radius: 6px;
    box-sizing: border-box;
    font-weight: 500;
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--font-family);

}

.tasks-display-active-container{
    display: flex;
    flex-direction: column;
}

.taskbar-data-card_button--active{
     background: var(--white-color);
    border-radius: 0.8rem;
}