.taskbar-container {
    display: flex;
    background: var(--body-background);
    height: 100vh;

}

.taskbar-left {
    width: 18%;
    height: 100%;
    transition: width 0.4s;

}

.taskbar-right {
    width: 82%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.3rem;
    padding: 3.2rem;
    transition: width 0.4s;
    overflow-y: scroll;
}
