.taskbar-container {
    display: flex;
    background: var(--body-background);
    height: 100vh;

}

.taskbar-left {
    width: 18%;
    height: 100%;
    transition: width 0.4s;

}

.taskbar-right {
    width: 82%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.3rem;
    padding: 3.2rem;
    transition: width 0.4s;
    overflow-y: scroll;
}

.taskbar-data-card_icon {
    background: var(--checkmark-blue);
    width: 4rem;
    height: 4rem;
    border-radius: 0.8rem;
    border: 1px solid var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskbar-data-card_heading {
    font-size: 1.8rem;
    color: #1e293b;
    font-weight: 600;

}

.taskbar-data-card_description {
    font-size: 1.4rem;
    color: #6a7282;
}

.data-card_items {
    padding: 2.4rem;
    box-sizing: border-box;
}


.task-data-card_button-wrap {
    display: flex;
    background: var(--button-gray);
    width: 24.6rem;
    height: 4rem;
    align-items: center;
    text-align: center;
    border-radius: 0.8rem;
    padding: 0.4rem;
    margin-bottom: 2.4rem;
    box-sizing: border-box;
    gap: 0.4rem;

}

.taskbar-data-card_button {
    width: 10.6rem;
    height: 3.1rem;
    color: var(--text-black);
    font-size: 1.4rem;
    padding: 0.6rem 1.2rem;
    font-weight: 500;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    box-sizing: border-box;
    white-space: nowrap;
}

.taskbar-add-task-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 2.4rem;
}

.taskbar-counter-wrap {
    display: flex;
    gap: 2.4rem;
    align-items: center;
}

.taskbar-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskbar-add-task_button {
    background: #155dfc;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    border: none;
    color: var(--white-color);
    font-size: 1.4rem;
    justify-content: center;
    height: 3.6rem;
    width: 10.5rem;
    box-sizing: border-box;
    font-weight: 500;
    gap: 0.8rem;
}


.task-counter {
    font-size: 3rem;
    font-weight: 600;
}

.task-counter--completed {
    color: #00a63e;
}

.taskbar-counter_description {
    font-size: 1.4rem;
    color: #6a7282;
}

.tasks-display-default {
    width: 100%;
    min-height: 16.4rem;
    border: none;
    padding: 3.2rem 3.2rem 2.4rem 3.2rem;
    text-align: center;
    outline: 1px dashed #3b82f6;
    border: 1px dashed #c6d2ff;
    box-sizing: border-box;
    border-radius: 0.8rem;
    background-image: linear-gradient(to bottom right,#fcf9fa,#eef2ff);

}

.tasks-display-description1{
    color: #64748b;
    font-size: 1.6rem;
}

.tasks-display-description2{
    color:#64748b;
    font-size: 1.4rem;
}