.login-form .login-form-main {
    display: flex;
}

.login-form .signup-form-main {
    display: none;
}

.login-form .login-toggle {
    background: var(--white-color);
    border-radius: 0.8rem;
}

.signup-form .signup-form-main {
    display: flex;
}

.signup-form .login-form-main {
    display: none;
}

.signup-form .signup-toggle {
    background: var(--white-color);
    border-radius: 0.8rem;
}